@model LandingPage.ViewModels.Subscriptions.IndexViewModel
@{
    ViewData["Title"] = "Subscriptions Management Page";
}

@if (ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}
else
{
    <div class="main-content text-center">

        <h3>Manage All Subscriptions</h3>
        
          <table class="main-table">
            <thead><tr><th>Subscription Name</th><th>Purchaser Email</th><th>Status</th></tr></thead>
            <tbody>
                @foreach (var subscription in Model.Subscriptions)
                {
                    <tr>
                        <td class="main-td">@Html.ActionLink(@subscription.Name, "Sub", new { id = @subscription.Id })</td>
                        <td class="main-td">@subscription.Purchaser.EmailId</td>
                        <td>@subscription.SaasSubscriptionStatus.Value</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}