@model LandingPage.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if(ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}
else
{
    <div class="main-content text-center">
    
        <table class="main-table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                <tr><td colspan="2"><b>Claims Values</b></td></tr>

                @foreach (var claim in @Model.UserClaims)
                {
                    <tr><td class="main-td"></td><td>@claim.Value</td></tr>
                }
            
                <tr><td colspan="2"><b>Graph Values</b></td></tr>
                <tr><td class="main-td">Given Name</td><td>@Model.GraphValues.GivenName</td></tr>
                <tr><td class="main-td">Last Name</td><td>@Model.GraphValues.Surname</td></tr>
                <tr><td class="main-td">Display Name</td><td>@Model.GraphValues.DisplayName</td></tr>
                <tr><td class="main-td">Mail</td><td>@Model.GraphValues.Mail</td></tr>
                <tr><td class="main-td">Job Title</td><td>@Model.GraphValues.JobTitle</td></tr>

                <tr><td colspan="2"><b>Subscription Values</b></td></tr>
                <tr><td class="main-td">Name 1</td><td>@Model.SubscriptionValues.Name1</td></tr>
                <tr><td class="main-td">Name 2</td><td>@Model.SubscriptionValues.Name2</td></tr>
                <tr><td class="main-td">Quantity</td><td>@Model.SubscriptionValues.Quantity</td></tr>



            </tbody>
        </table>


</div>
}