@model LandingPage.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Contoso Offer Landing Page";
}

@if (ViewBag.Message != null)
{

    <h2>@ViewBag.Message</h2>
}
else
{
    var planName = string.Empty;

    @foreach (var plan in Model.SubscriptionPlans.Plans)
    {
        @if (@plan.PlanId == Model.Subscription.PlanId)
        {
            planName = plan.DisplayName;
        }
    }

    <div class="main-content">

        <h3>Thank you for your subscription</h3>


        <p>Please verify the following information is correct before submitting your subscription for activation by Contoso, Inc.</p>

        <table class="main-table">
            <tbody>
                <tr><td class="main-td">Current user</td><td>@Model.GraphUser.DisplayName</td></tr>
                <tr><td class="main-td">Email</td><td>@Model.GraphUser.Mail</td></tr>
                <tr><td class="main-td">Subscription name</td><td>@Model.Subscription.Name</td></tr>
                <tr><td class="main-td">Plan name</td><td>@planName</td></tr>
                <tr><td class="main-td">Subscription will auto renew</td><td>@Model.Subscription.AutoRenew</td></tr>
            
                @if (Model.Subscription.Term.StartDate != null)
                {
                    <tr><td class="main-td">Term Start Date</td><td>@Model.Subscription.Term.StartDate.Value.DateTime.ToShortDateString()</td></tr>

                }

                @if (Model.Subscription.Term.EndDate != null)
                {
                    <tr><td class="main-td">Term End Date</td><td>@Model.Subscription.Term.EndDate.Value.DateTime.ToShortDateString()</td></tr>
                }

                <tr><td class="main-td">Subscription State</td><td>@Model.Subscription.SaasSubscriptionStatus.Value</td></tr>
                <tr><td class="main-td">Tenant ID</td><td>@Model.Subscription.Beneficiary.TenantId</td></tr>
            </tbody>
        </table>


        <h3>Available Customer Actions</h3>

        <div style="text-align: left">
            <ul>
                @if (Model.Subscription.SaasSubscriptionStatus.Value == Microsoft.Marketplace.SaaS.Models.SubscriptionStatusEnum.PendingFulfillmentStart)
                {
                    <li>
                        @Html.ActionLink("Notify pubisher to activate account", "Index", "Submit")
                    </li>
                }
                
                @if (Model.Subscription.SaasSubscriptionStatus.Value == Microsoft.Marketplace.SaaS.Models.SubscriptionStatusEnum.Subscribed)
                {
                    <li>
                        @Html.ActionLink("Unsubscribe", "Index", "Unsubscribe", new { id = Model.Subscription.Id })
                    </li>
                }

            </ul>
        </div>

        <hr/>
        
        <h3>Extra Functionality for Publishers</h3>

        <p>
            @Html.ActionLink("This text", "Details", new { token = Model.PurchaseIdToken }) would
            not normally be seen on a Landing page. It is for demonstration purposes only.
        </p>

    </div>
}