@using Microsoft.Marketplace.SaaS.Models
@model PublisherPortal.ViewModels.Meters.IndexViewModel;

@{
    ViewData["Title"] = "Subscriptions Management";
}

<h1>Manage Meters Manually</h1>

<p>Use this page to manually invoke a metered billing event.</p>

<h2>Subscription: @Model?.Subscription.Name</h2>

@{
    var plan = Model?.Plans.SingleOrDefault(p => p.PlanComponents.MeteringDimensions.Count > 0 && p.PlanId == Model.Subscription.PlanId);
    
    <div>
        <h3>Plan: plan.DisplayName</h3>


        @foreach (var dimension in plan.PlanComponents.MeteringDimensions)
        {
            <form method="post">

                <input type="hidden" name="id" value="@Model.Subscription.Id" />
                <input type="hidden" name="planId" value="@plan.PlanId" />
                <input type="hidden" name="dimensionId" value="@dimension.Id" />

                <table>
                    <tr>
                        <td style="min-width: 150px;">@dimension.DisplayName</td>
                        <td><input name="quantity" type="text" size="3" /></td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action(action: "InvokeMeter")">Submit</a>
                        </td>
                    </tr>
                </table>
            </form>





        }
    </div>

}